<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>PLP Online</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="../static/css/codemirror.css" th:href="@{/css/codemirror.css}"/>
	<link rel="stylesheet" href="../static/css/show-hint.css" th:href="@{/css/show-hint.css}"/>
	<link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
</head>
<body>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h1>UFPE CIn <small>Paradigmas de Linguagem de Programação</small></h1>
			</div>

			<!-- Disclaimer -->
			<div class="alert alert-warning alert-dismissible" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<p><strong>Aviso!</strong> Esta página faz parte de um projeto de disciplina e portanto não é a versão
				oficial. Acesse o <a href="http://www.cin.ufpe.br/~in1007" target="_blank">site oficial</a>
				da disciplina para mais informações.</p>
			</div>
			<!-- /Disclaimer -->

			<p>Problemas ou Sugestões? <a href="https://github.com/jeandersonbc/plp-tools/issues/new" target="_blank">Registre
				uma issue</a> na página do projeto.</p>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<label for="lang-selector">Selecione uma linguagem</label>
			<select id="lang-selector">
				<optgroup label="Linguagens de Expressões">
					<option value="exp1">Expressões 1</option>
					<option value="exp2">Expressões 2</option>
				</optgroup>
				<optgroup label="Linguagens Funcionais">
					<option value="func1">Funcional 1</option>
					<option value="func2">Funcional 2</option>
					<option value="func3">Funcional 3</option>
				</optgroup>
				<optgroup label="Linguagens Imperativas">
					<option value="imp1">Imperativa 1</option>
					<option value="imp2">Imperativa 2</option>
				</optgroup>
				<optgroup label="Linguagens Orientadas a Objetos">
					<option value="oo1">Orientada a Objetos 1</option>
					<option value="oo2">Orientada a Objetos 2</option>
				</optgroup>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<h3>Editor</h3>
			<div class="editor-container">
				<textarea id="code" name="code"></textarea>
			</div>

			<div class="editor-controls">
				<div id="stdin" style="display: none;">
					<input type="text" placeholder="Entrada padrão" id="stdin-input"/>
				</div>
				<button id="executar-btn" type="button" class="btn btn-success">
					Executar <span class="glyphicon glyphicon-cog"></span>
				</button>
				<button id="mostrar-btn" type="button" class="btn btn-primary">
					Entrada Padrão <span class="glyphicon glyphicon-inbox"></span>
				</button>
				<button id="limpar-btn" type="button" class="btn btn-primary">
					Limpar <span class="glyphicon glyphicon-trash"></span>
				</button>
			</div>
		</div>
		<div class="col-md-6">
			<h3>Console</h3>
			<div class="well well-sm" id="stdout">
				<ul id="stdout-list"></ul>
			</div>
		</div>
	</div>
</div>

<!-- Import JavaScriptFiles -->
<script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script src="../static/js/codemirror/codemirror.js" th:src="@{/js/codemirror/codemirror.js}"></script>
<script src="../static/js/codemirror/anyword-hint.js" th:src="@{/js/codemirror/anyword-hint.js}"></script>
<script src="../static/js/codemirror/show-hint.js" th:src="@{/js/codemirror/show-hint.js}"></script>
<script src="../static/js/codemirror/plp-language.js" th:src="@{/js/codemirror/plp-language.js}"></script>
<script src="../static/js/home.js" th:src="@{/js/home.js}"></script>
</body>
</html>
