<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ufpe.br/cin/plp/imperativa1/Imperativa1"
			class = "br.ufpe.cin.plp.imperativa1.imperativa1.Imperativa1Package"
			genModel = "model/generated/Imperativa1.genmodel" />
	</extension>
</plugin>
