.page-header {
	padding-top: 0px;
	margin-top: 0px;
}

.editor-container {
	border: 1px solid #ddd;
}

.editor-controls {
	margin-top: 20px;
}

#stdout, .editor {
	height: 300px;
}

#stdout {
	background-color: black;
	color: #adff2f;
	overflow: auto;
	font-family: monospace;
	border: 1px solid black;
}

#stdout ul {
	list-style: none;
	padding: 0px;
}

#stdout ul li:before {
	content: '> ';
	font-weight: bold;
}

#stdin {
	border: 1px solid #ddd;
	font-family: monospace;
	margin-bottom: 20px;
}
#stdin input {
	width: 100%;
	padding: 5px;
	display: block;
	border: 0px;
}
